.homePage {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
}

nav {
  border-bottom: 1px solid rgb(7, 2, 13);
  z-index: 3;
  background-color: white;
  max-height: 20vh;
  width: 100%;
  animation: loadNav .5s ease-in;  
}

@keyframes loadNav {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo {
 color: rgb(7, 2, 13);
 font-size: 28px;
 font-weight: 400;
 width: fit-content;
 margin: 30px 0 0 30px;
 line-height: 100%;
 cursor: pointer;
}

.navOptions {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navOptions li {
    width: fit-content;
    margin: 0 20px;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
}

.navOptions li:hover {
    color: rgb(33, 161, 121);
    text-decoration: underline;
}

.introSection {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    animation: loadIntro 1.5s ease-in;  
}

@keyframes loadIntro {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* LottieFiles WaveSVG Animation */
.lottie {
    animation: loadSVG 1s ease-in;  
}

@keyframes loadSVG {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.introText {
    height: fit-content;
    cursor: default;
}

.introText h1 {
    font-weight: 300;
}

.profileImg {
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-left: 50px;
    background-image: url(../assets/selfie1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: floatingImg infinite 3s ease-in;
}

@keyframes floatingImg {
    50% {
        transform: translateY(-10px);
        box-shadow: 0px 2px 3px black;
    }
}

.contactBtns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.linkedin {
    color: rgb(70, 70, 231);
    cursor: pointer;
    height: 40px;
}

.github {
    color: orangered;
    cursor: pointer;
    height: 40px;
}

/* About Me Section */
.aboutMe {
    display: flex;
    justify-content: center;
}

.aboutIntro {
    text-align: center;
    font-weight: 200;
    width: 50%;
    margin: 50px;
}

.aboutIntro h2 {
    font-weight: 500;
}

.techStack {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.techStack h2 {
    font-weight: 500;
    margin: 20px auto;
}

/*Infinite Scroll Marquee*/
.scrollStack {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    margin: 40px auto;
    gap: var(--gap);  
}

.stackLogos {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scrollLogos linear 30s infinite;
}

@keyframes scrollLogos {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.projectSection {
    text-align: center;
}

.projectSection h2 {
    font-size: 36px;
    font-weight: 300;
}

.contactSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactSection h2 {
    font-size: 36px;
    font-weight: 300;
}

.contactText {
    border-radius: 25px;
    background-color: black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.contactText form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    align-items: center;
    justify-content: center;
}