.projectWheelContainer {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
}

.projectWheel {
    white-space: nowrap;
    transition: transform 0.3s;
    
}

.project {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 490px;
}

.projectInfo {
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 90%;
    color: black;
}

.projectImg img {
    height: 300px;
}

.projectStacks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
}

.projectDeps {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wheel-btns {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.btn-arrow {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.indicator-btns {
    border: none;
    cursor: pointer;
}

.indicators>button {
    margin: 5px;
    background: none;
}

.indicator-symbol {
    color: gainsboro;
}

.indicator-symbol-active {
    color: grey;
}